<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><?js= title ?> - Documentation</title>
    <?js if (!env.conf.docdash) { env.conf.docdash = {};} ?>
    <?js if (env.conf.docdash.meta) { ?>
        <?js if (env.conf.docdash.meta.description) { ?>
            <meta name="description" content="<?js= env.conf.docdash.meta.description ?>" />
        <?js } ?>
    <?js } ?>
    <?js if (env.conf.docdash.openGraph) { ?>
        <meta property="og:title" content="<?js= env.conf.docdash.openGraph.title ?>"/>
        <meta property="og:type" content="<?js= env.conf.docdash.openGraph.type ?>"/>
        <meta property="og:image" content="<?js= env.conf.docdash.openGraph.image ?>"/>
        <?js if (env.conf.docdash.openGraph.site_name) { ?>
            <meta property="og:site_name" content="<?js= env.conf.docdash.openGraph.site_name ?>"/>
        <?js } ?>
        <meta property="og:url" content="<?js= env.conf.docdash.openGraph.url ?>"/>
    <?js } ?>
    <?js if (env.conf.docdash.icons) { ?>
      <?js if (env.conf.docdash.icons.appleTouchIcon) { ?>
        <link rel="apple-touch-icon" sizes="180x180" href="<?js= env.conf.docdash.icons.appleTouchIcon ?>">
      <?js } ?>
      <?js if (env.conf.docdash.icons.favicon32x32) { ?>
        <link rel="icon" type="image/png" sizes="32x32" href="<?js= env.conf.docdash.icons.favicon32x32 ?>">
      <?js } ?>
      <?js if (env.conf.docdash.icons.favicon16x16) { ?>
        <link rel="icon" type="image/png" sizes="16x16" href="<?js= env.conf.docdash.icons.favicon16x16 ?>">
      <?js } ?>
      <?js if (env.conf.docdash.icons.manifest) { ?>
        <link rel="manifest" href="<?js= env.conf.docdash.icons.manifest ?>">
      <?js } ?>
      <?js if (env.conf.docdash.icons.msTileColor) { ?>
        <meta name="msapplication-TileColor" content="<?js= env.conf.docdash.icons.msTileColor ?>">
      <?js } ?>
      <?js if (env.conf.docdash.icons.themeColor) { ?>
        <meta name="theme-color" content="<?js= env.conf.docdash.icons.themeColor ?>">
      <?js } ?>
    <?js } ?>
    <script src="scripts/prettify/prettify.js"></script>
    <script src="scripts/prettify/lang-css.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/prettify.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<label for="nav-trigger" class="navicon-button x">
  <div class="navicon"></div>
</label>

<label for="nav-trigger" class="overlay"></label>

<nav>
    <?js= this.nav ?>
</nav>

<div id="main">
    <?js if (!isIndex) { ?>
    <h1 class="page-title"><?js= title ?></h1>
    <?js } ?>

    <?js= content ?>
</div>

<br class="clear">

<footer>
    Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a><?js if(env.conf.templates && env.conf.templates.default && env.conf.templates.default.includeDate !== false) { ?> on <?js= (new Date().toLocaleDateString('en-us', {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})) ?><?js } ?> using the <a href="https://github.com/AsyncAF/docdash">AsyncAF/docdash</a> theme.
</footer>

<script>prettyPrint();</script>
<script src="scripts/linenumber.js"></script>
<?js if (env.conf.docdash.scripts && env.conf.docdash.scripts.length) {
    for(var i = 0; i < env.conf.docdash.scripts.length; i++){
        ?>
        <script src="<?js= env.conf.docdash.scripts[i] ?>"></script>
        <?js
    }
} ?>
<?js if (env.conf.docdash.styles && env.conf.docdash.styles.length) {
    for(var j = 0; j < env.conf.docdash.styles.length; j++){
    ?>
    <link type="text/css" rel="stylesheet" href="<?js= env.conf.docdash.styles[i] ?>">
    <?js
    }
} ?>
</body>
</html>
